<div class="backdrop" (click) = "onClose()"></div>

<div class="row">
    <div class="container">
        <a class="btn" type="button" (click) = "onClose()">X</a>
        <div class="img-box">
            <img src="../../assets/images/Lagunitas-launches-non-alcoholic-IPNA-in-the-US_wrbm_large 1.png" alt="">
            <p>{{data.name}}</p>
            <p>{{100 |currency}}</p>
        </div>
    
        <div class="text-box">
            <h4>Details:</h4>
            <p>{{data.details}}</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit autem architecto ut, nisi error in nam 
                dignissimos et enim, voluptas aut ipsa ex deserunt totam iste omnis accusantium quasi.</p>
            <p>pellentesque duis dui blandit. Fames nibh et, est augue mollis nullam. Pharetra, pulvinar molestie penatibus leo.</p>
            <p>pellentesque duis dui blandit. Fames nibh et, est augue mollis nullam. Pharetra, pulvinar molestie penatibus leo.</p> -->
        </div>
    
    </div>
</div>
