<header class="container">
    <div class="header-container">
            
                <div class="col-1-of-2" style="padding-left: 10rem;">
                    <nav class="nav-list">
                        <ul>

                        <li routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
                            <span class="dot"></span> <a class="nav-link" >Storename</a></li>
                        <li routerLinkActive="active" class="nav-item"><a href= "" class="nav-link">Product</a></li>
                        <li routerLinkActive="active" class="nav-item"><a href= ""  class="nav-link">Pricing</a></li>
                
                
                        </ul>
            
                    </nav>
                </div>
            


            <div class="col-1-of-2 " style="padding-left: 10rem;">

                <div class="text-box">
                    <div class="header-text-box">
                        <h2 class="">Lorem ipsum dolor <strong>sit amet</strong></h2>
                       
                      </div>
                      <div class="para-text-box">
                        <p>pellentesque duis dui blandit. Fames nibh et, est augue mollis nullam. Pharetra, pulvinar molestie penatibus leo.</p>
                      </div>

                      <div class="input-box">
                          <input class="input-element" type="text" placeholder="Enter your email">
                          <button class="input-button">Get Early Access</button>
                          
                      </div>

                      <div class="vector-box-2">

                        <img class = "vector-2" src="../../assets/images/Vector (5).png" alt="">
                        <img class = "vector-3" src="../../assets/images/Vector (6).png" alt="">
                        <img class = "vector-4" src="../../assets/images/Vector (7).png" alt="">
    
                </div>
    

                  </div>
                  


            <div class="col-1-of-2">
                <div class="dot-box">

                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                    
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                        <span class="dot-small"></span>
                    

                </div>
                <div class="button-box">
                    <button>Sign in</button>
                </div>



                <div class="image-box">
                    <!-- <img class="right-img" src="../../assets/images/Rectangle 500.png" alt=""> -->
                    <img class ="image1" src="../../assets/images/creators-collective-Z51DwiaE5T0-unsplash.png" alt="">
                    <img class="image2" src="../../assets/images/blake-wisz-GFrBMipOd_E-unsplash.png" alt="">
                    

                        
                    <img class ="image3"src="../../assets/images/christiann-koepke-dQyS2pMYtok-unsplash.png" alt="">

                    <div class="vector-box">
                        <img class = "vector-1" src="../../assets/images/Vector.png" alt="">
                        <img class = "vector-2" src="../../assets/images/Vector (1).png" alt="">
                        <img class = "vector-3" src="../../assets/images/Vector (3).png" alt="">
                        <img class = "vector-4" src="../../assets/images/Vector (4).png" alt="">
    
                    </div>
                </div>


                <!-- <div class="arrow-box">
                
                    <span class="left-arrow">&lt;</span>
                    <span class="right-arrow">&gt;</span>
    
                </div> -->
            </div>

        </div>


    </div>
</header>