<a class="card4">
    <div class="card-img-box">
        
        <img class="card-img" src="../../../assets/images/Lagunitas-launches-non-alcoholic-IPNA-in-the-US_wrbm_large 1.png" alt="">
        <!-- <img class="{{passingData.image_url}}" alt=""> -->

    </div>
    <div class="card-text">
      <p class="title">{{passingData.name}}</p>
      <p>{{100 | currency}}</p>
    </div>
 
    
    <!-- <h4>{{aw.tour}}</h4> -->
    <!-- <h4>Status: {player.active ? 'Action' : 'meh'}</h4> -->
    <div class="dimmer"></div>
    <div class="go-corner" href="#">
      
    </div>
  </a>